<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>结果显示</title>
    <link rel="stylesheet" href="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/css/ace.min.css"
          class="ace-main-stylesheet" id="main-ace-style"/>
</head>
<body>

<div class="container">
    <div class="row" style="margin-top: 200px;">
        <div class="col-md-offset-4 col-md-4">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">结果</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div>
                            <div>提交失败，请重试。</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>