<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="common/head::head"></head>

	<body class="no-skin">

	<div th:replace="common/navbar ::#navbar"></div>

		<div class="main-container ace-save-state" id="main-container">

           <div th:replace="common/sidebar::sidebar"> </div>

			<div class="main-content">


				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="/moive/addview">增加电影</a>
							</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content">

						<button class="btn btn-sm btn-primary" id="reset">重置文件</button>

						<br/>
						<br/>

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">

											<table id="dynamic-table" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label class="pos-rel">
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th>电影名</th>
														<!--<th>标签</th>-->
														<!--<th>简介</th>-->
														<th>网盘地址</th>
														<th>访问地址</th>
														<th>密码</th>
														<th>操作</th>
													</tr>
												</thead>

												<tbody>
												</tbody>
											</table>
										</div>

								</div>
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<div th:replace="common/footer::footer"></div>
		</div><!-- /.main-container -->

		<!-- basic scripts -->
		<script src="../../static/assets/js/jquery-2.1.4.min.js"></script>
		<script src="../../static/assets/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		<script src="../../static/assets/js/jquery.dataTables.min.js"></script>
		<script src="../../static/assets/js/jquery.dataTables.bootstrap.min.js"></script>
		<script src="../../static/assets/js/dataTables.buttons.min.js"></script>
		<script src="../../static/assets/js/buttons.flash.min.js"></script>
		<script src="../../static/assets/js/buttons.html5.min.js"></script>
		<script src="../../static/assets/js/buttons.print.min.js"></script>
		<script src="../../static/assets/js/buttons.colVis.min.js"></script>
		<script src="../../static/assets/js/dataTables.select.min.js"></script>

		<!-- ace scripts -->
		<script src="../../static/assets/js/ace-elements.min.js"></script>
		<script src="../../static/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">

			jQuery(function($) {
			    $("#reset").click(function(){
			        var param ='';
			        $.post('/moive/reset',param,function(data){
			            alert("success");
					});
				});
				//initiate dataTables plugin
				var myTable = 
				$('#dynamic-table')
				.DataTable( {
                    "processing": true,//刷新的那个对话框
                    "serverSide": true,//服务器端获取数据
                    "paging": true,//开启分页
                    ordering:false,
                    lengthMenu: [ //自定义分页长度
                        [ 20, 30, 50 ],
                        [ '20 页', '30 页', '50 页' ]
                    ],
					ajax:{
					    "url":'/moive/list2',
                        "type": "POST"

            },
                    columns:
						[
						{"data": "", "defaultContent": ""},
						{"data": "mname", "defaultContent": ""},
						// {"data": "", "defaultContent": ""},
						// {"data": "abstracts", "defaultContent": ""},
						{"data": "panurl", "defaultContent": ""},
						{"data": "murl", "defaultContent": ""},
						{"data": "panpwd", "defaultContent": ""},
						{"data": "", "defaultContent": "<button class='btn btn-minier btn-yellow'>重新生成</button>"}
						]
                    // data: data

                });
				// $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';
				//
				// myTable.buttons().container().appendTo( $('.tableTools-container') );
				//
				// //style the message box
				// var defaultCopyAction = myTable.button(1).action();
				// myTable.button(1).action(function (e, dt, button, config) {
				// 	defaultCopyAction(e, dt, button, config);
				// 	$('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
				// });
				//
				//
				// var defaultColvisAction = myTable.button(0).action();
				// myTable.button(0).action(function (e, dt, button, config) {
				//
				// 	defaultColvisAction(e, dt, button, config);
				//
				//
				// 	if($('.dt-button-collection > .dropdown-menu').length == 0) {
				// 		$('.dt-button-collection')
				// 		.wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
				// 		.find('a').attr('href', '#').wrap("<li />")
				// 	}
				// 	$('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
				// });
                //
				// setTimeout(function() {
				// 	$($('.tableTools-container')).find('a.dt-button').each(function() {
				// 		var div = $(this).find(' > div').first();
				// 		if(div.length == 1) div.tooltip({container: 'body', title: div.parent().text()});
				// 		else $(this).tooltip({container: 'body', title: $(this).text()});
				// 	});
				// }, 500);
				//
				//
				//
				//
				//
				// myTable.on( 'select', function ( e, dt, type, index ) {
				// 	if ( type === 'row' ) {
				// 		$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', true);
				// 	}
				// } );
				// myTable.on( 'deselect', function ( e, dt, type, index ) {
				// 	if ( type === 'row' ) {
				// 		$( myTable.row( index ).node() ).find('input:checkbox').prop('checked', false);
				// 	}
				// } );
                //
			
			
			
				/////////////////////////////////
				//table checkboxes
				// $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);
				//
				// //select/deselect all rows according to table header checkbox
				// $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function(){
				// 	var th_checked = this.checked;//checkbox inside "TH" table header
				//
				// 	$('#dynamic-table').find('tbody > tr').each(function(){
				// 		var row = this;
				// 		if(th_checked) myTable.row(row).select();
				// 		else  myTable.row(row).deselect();
				// 	});
				// });
				//
				// //select/deselect a row when the checkbox is checked/unchecked
				// $('#dynamic-table').on('click', 'td input[type=checkbox]' , function(){
				// 	var row = $(this).closest('tr').get(0);
				// 	if(this.checked) myTable.row(row).deselect();
				// 	else myTable.row(row).select();
				// });
                //
                //
                //
				// $(document).on('click', '#dynamic-table .dropdown-toggle', function(e) {
				// 	e.stopImmediatePropagation();
				// 	e.stopPropagation();
				// 	e.preventDefault();
				// });
				
				
				
				//And for the first simple table, which doesn't have TableTools or dataTables
				//select/deselect all rows according to table header checkbox
				// var active_class = 'active';
				// $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function(){
				// 	var th_checked = this.checked;//checkbox inside "TH" table header
				//
				// 	$(this).closest('table').find('tbody > tr').each(function(){
				// 		var row = this;
				// 		if(th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
				// 		else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
				// 	});
				// });
				//
				// //select/deselect a row when the checkbox is checked/unchecked
				// $('#simple-table').on('click', 'td input[type=checkbox]' , function(){
				// 	var $row = $(this).closest('tr');
				// 	if($row.is('.detail-row ')) return;
				// 	if(this.checked) $row.addClass(active_class);
				// 	else $row.removeClass(active_class);
				// });
			
				
			
				/********************************/
				//add tooltip for small view action buttons in dropdown menu
			// 	$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
			//
			// 	//tooltip placement on right or left
			// 	function tooltip_placement(context, source) {
			// 		var $source = $(source);
			// 		var $parent = $source.closest('table')
			// 		var off1 = $parent.offset();
			// 		var w1 = $parent.width();
			//
			// 		var off2 = $source.offset();
			// 		//var w2 = $source.width();
			//
			// 		if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
			// 		return 'left';
			// 	}
            //
			// 	/***************/
			// 	$('.show-details-btn').on('click', function(e) {
			// 		e.preventDefault();
			// 		$(this).closest('tr').next().toggleClass('open');
			// 		$(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
			// 	});
			// 	/***************/
			})
		</script>
	</body>
</html>
