<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head::head"></head>

<link rel="stylesheet" href="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/css/jquery-ui.min.css"/>

<body class="no-skin">

<div th:replace="common/navbar ::#navbar"></div>

<div class="main-container ace-save-state" id="main-container">

    <div th:replace="common/sidebar::sidebar"></div>

    <div class="main-content">

        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/blank">Home</a>
                    </li>

                    <li>
                        <a href="#">求电影</a>
                    </li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">

                <div>
                    <div style="float: left">
                        <button class="btn btn-sm btn-primary deletes" id="deletes">批量删除</button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center"></th>
                                        <th class="center"></th>
                                        <th>电影名</th>
                                        <th>微信名</th>
                                        <th>备注</th>
                                        <th>计数</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->


    <div id="my-modal" class="modal fade" tabindex="-1">
        <!--<form id="fileForm" method="post" action="/moive/upload"  enctype="multipart/form-data">-->
        <form id="fileForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="smaller lighter blue no-margin">批量导入</h3>
                    </div>

                    <div class="modal-body">
                        <div class="row">

                            <div class="form-group">
                                <div class="col-xs-8">
                                    <input type="file" name="file" class="form-control" id="id-input-file-2"/>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <!--<button class="btn btn-sm btn-success pull-left" id="fileSubmit" type="submit">-->
                        <button class="btn btn-sm btn-success pull-left" id="fileSubmit" type="button"
                                data-dismiss="modal">
                            提交
                        </button>
                        <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            取消
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form>
    </div>

    <div th:replace="common/footer::footer"></div>
</div><!-- /.main-container -->


<div id="dialog-confirm" class="hide">
    <div class="alert alert-info bigger-110">
        These items will be permanently deleted and cannot be recovered.
    </div>

    <div class="space-6"></div>

    <p class="bigger-110 bolder center grey">
        <i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
        Are you sure?
    </p>
</div><!-- #dialog-confirm -->

<div id="dialog-add" class="hide">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" id="addForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 电影名 </label>

                    <div class="col-sm-9">
                        <input type="text" id="form-field-1" placeholder="电影名称" class="col-xs-10 col-sm-5"/>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-tags">标签</label>

                    <div class="col-sm-9">
                        <div class="inline">
                            <input type="text" name="tags" id="form-field-tags" value="电影标签"
                                   placeholder="Enter tags ..."/>
                        </div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 网盘地址&密码 </label>
                    <div class="col-sm-9">
                        <input type="text" id="form-field-3" placeholder="百度网盘地址" class="col-xs-10 col-sm-5"/>
                    </div>
                </div>
            </form>

        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

<!-- basic scripts -->
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/jquery-2.1.4.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/jquery.dataTables.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/dataTables.buttons.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/buttons.flash.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/buttons.html5.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/buttons.print.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/buttons.colVis.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/dataTables.select.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/jquery-ui.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/jquery.ui.touch-punch.min.js"></script>

<!-- ace scripts -->
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/ace-elements.min.js"></script>
<script src="http://static-1257119014.cos.ap-chengdu.myqcloud.com/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">

    var deleid;

    jQuery(function ($) {
        //override dialog's title function to allow for HTML titles
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function (title) {
                var $title = this.options.title || '&nbsp;'
                if (("title_html" in this.options) && this.options.title_html == true)
                    title.html($title);
                else title.text($title);
            }
        }));


        var myTable =
            $('#dynamic-table')
                .DataTable({
                    "processing": true,//刷新的那个对话框
                    "serverSide": true,//服务器端获取数据
                    search: true,
                    //bFilter: false,
                    "paging": true,//开启分页
                    ordering: false,
                    lengthMenu: [ //自定义分页长度
                        [20, 30, 50],
                        ['20 页', '30 页', '50 页']
                    ],
                    ajax: {
                        "url": '/moive/requestList',
                        "type": "POST"
                    },
                    columns:
                        [
                            {"data": "id", "defaultContent": ""},
                            {"data": "", "defaultContent": "<input type='checkbox' name='checkBox1' value='id'/>"},
                            {"data": "moivename", "defaultContent": ""},
                            {"data": "wxname", "defaultContent": ""},
                            {"data": "moiveDesc", "defaultContent": ""},
                            {"data": "counter", "defaultContent": ""},
                            {"data": "status", "defaultContent": ""},
                            {
                                "data": "",
                                "defaultContent": "<div class='hidden-sm hidden-xs btn-group'><button class='btn btn-minier btn-yellow add'>增加</button><button class='btn btn-minier btn-yellow modify'>已处理</button> <a class='btn btn-minier btn-red delete'>删除</a></div>"
                            },
                        ]
                    ,
                });


        //myTable
        $('#dynamic-table').on("click", ".modify", function () {

            var data = myTable.row($(this).parent().parent().parent('tr')).data();
            deleid = data.id;

            $("#dialog-confirm").removeClass('hide').dialog({
                resizable: false,
                width: '360',
                modal: true,
                title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-exclamation-triangle red'></i>确认处理吗？</h4></div>",
                title_html: true,
                buttons: [
                    {
                        html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>处理",
                        "class": "btn btn-danger btn-minier",
                        click: function () {
                            $(this).dialog("close");
                            $.post("/moive/reqDone",
                                {id: deleid}, function (data) {
                                    if (data.respCode == "000000") {
                                        window.location.href = '/moive/requestListView';
                                        alert("已标记");
                                    } else {
                                        alert("标记失败");
                                    }
                                }
                            )
                        }
                    }
                    ,
                    {
                        html: "<i class='ace-icon fa fa-times bigger-110'></i>取消",
                        "class": "btn btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });

        //myTable
        $('#dynamic-table').on("click", ".delete", function () {

            var data = myTable.row($(this).parent().parent().parent('tr')).data();
            deleid = data.id;

            $("#dialog-confirm").removeClass('hide').dialog({
                resizable: false,
                width: '360',
                modal: true,
                title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-exclamation-triangle red'></i>确认删除吗？</h4></div>",
                title_html: true,
                buttons: [
                    {
                        html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>删除",
                        "class": "btn btn-danger btn-minier",
                        click: function () {
                            $(this).dialog("close");
                            $.post("/moive/reqdelete",
                                {id: deleid}, function (data) {
                                    if (data.respCode == "000000") {
                                        window.location.href = '/moive/requestListView';
                                        alert("删除记录成功");
                                    } else {
                                        alert("删除记录失败");
                                    }
                                }
                            )
                        }
                    }
                    ,
                    {
                        html: "<i class='ace-icon fa fa-times bigger-110'></i>取消",
                        "class": "btn btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });

        //myTable
        $("#deletes").click(function () {

            var ids = [];

            var data = $('#dynamic-table >tbody >tr > td input[type=checkbox]:checked');

            for (var i = 0; i < data.length; i++) {
                var td = $(data[i]);
                var id = td.parent().prev().html();
                ids.push(id);
            }

            if (ids.length == 0) {
                alert("请选择");
                return;
            }
            var deleids = ids.join(",");
            $.post("/moive/reqdelete",
                {ids: deleids}, function (data) {
                    if (data.respCode == "000000") {
                        window.location.href = '/moive/requestListView';
                        alert("删除记录成功");
                    } else {
                        alert("删除记录失败");
                    }
                }
            )
        });

        //myTable
        $('#dynamic-table').on("click", ".add", function () {
            $("#dialog-add").removeClass('hide').dialog({
                resizable: false,
                width: '480',
                modal: true,
                title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon gl glyphicon-plus green'></i>增加电影</h4></div>",
                title_html: true,
                buttons: [
                    {
                        html: "<i class='btn btn-success bigger-110'></i>确定",
                        "class": "btn btn-success btn-minier",
                        click: function () {
                            //获取参数止
                            var title = $("#form-field-1").val();
                            var panurl = $("#form-field-3").val();
                            var tags = $("#form-field-tags").val();

                            var data = {
                                title: title,
                                tags: tags,
                                panurl: panurl
                            };
                            $.post("/moive/add",
                                data, function (data) {
                                    if (data.respCode == "000000") {
                                        alert("记录插入成功");
                                        //TODO 刷新表格
                                        setTimeout(function () {
                                            window.location.href = '/moive/requestListView';
                                        }, 3)

                                    } else {
                                        $("#addForm")[0].reset();
                                        alert("记录增加失败")
                                    }
                                }
                            )

                        }
                    }
                    ,
                    {
                        html: "<i class='ace-icon fa fa-times bigger-110'></i>取消",
                        "class": "btn btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });

    });


</script>
</body>
</html>
