<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>链接失效</title>
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/assets/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>
</head>
<body>

<div class="container">
    <div class="row" style="margin-top: 200px;">
        <div class="col-md-offset-4 col-md-4">
            <form role="form" action="/moive/invalid" method="post">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title">结果</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div>
                                <div>添加成功。耐心等待一下~~</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>